@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap');

@font-face {
    font-family: 'StarLogo2';
    src: url('../FONT/STJEDISE.TTF') format('truetype');
}

@font-face {
    font-family: 'StarTxt';
    src: url('../FONT/Starjhol.ttf') format('truetype');
}

@font-face {
    font-family: 'StarTxt2';
    src: url('../FONT/Starjout.ttf') format('truetype');
}

@font-face {
    font-family: 'StarLogo';
    src: url('../FONT/Strjmono.ttf') format('truetype');
}

:root {

    /**colocar as fontes e coisas necessárias**/
    --font-logo: 'StarLogo';
    --font-txt: 'StarTxt';
    --font-txt2: 'StarTxt2';
    --font-txt3: 'StarTxt3';

    /** cores **/

    --cor-fundo: #000000c2;
    --cor-font: #ffffff;


    --font-size-txt: 140%;
    --font-size-title: 200%;
    --font-size-footer: 100%;


}



body {
    font-family: var(--font-size-txt);
    background-image: url(https://media2.giphy.com/media/H6yzZcjRymlWAxDICb/giphy.gif?cid=ecf05e47nf152c4kal9795oyegxxithgijugg22c9sps9b7z&rid=giphy.gif&ct=g);
    background-size: 150%;
    width: 100%;
    height: 100%;
    margin: auto;

}


header {
    margin: auto;
    background-color: var(--cor-fundo);
    border-radius: 10px;
    margin-top: 5%;
    width: 60%;
    font-size: var(--font-size-title);
    
}

#titulo-principal {
    
    text-align: center;
    font-family: var(--font-logo);
    color: var(--cor-font);
    
}

main {

    margin: auto;
    width: 60%;
    font-family: var(--font-txt);

}

.container {

    font-size: var(--font-size-txt);
    background-color: var(--cor-fundo);
    border-radius: 10px;
    text-align: center;
    color: var(--cor-font);
    border: 1px 5px solid var(--cor-font);
    
    
}

.container-conteudo {
    
    margin: 20px 20px;
    margin-top: 20px;
    margin-bottom: 10px;
   
}

footer {

    color: var(--cor-font);
    background-color: var(--cor-fundo);
    border: 8px 8px var(--cor-font);
    border-radius: 10px;
    text-align: center;
    margin: auto;
    width: 60%;
    font-size: var(--font-size-footer);
    font-family: var(--font-logo);


}