@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap');

@font-face {
    font-family: 'Mom';
    src: url('Mom.ttf') format('truetype');
}


@font-face {
    font-family: 'starWar2';
    src: url(FONT/stjelogo/Stjldbl1.ttf) format('truetype') 
}


:root {

    /**colocar as fontes e coisas necessárias**/
    --font-logo: 'Mom';
    --font-txt: 'starWar';

    /** cores **/

    --cor-fundo: #000000c2;
    --cor-font: #ffffff;


    --font-size-txt: 140%;
    --font-size-title: 200%;
    --font-size-footer: 100%;


}



body {
    font-family: 'Mom';
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/2752de67923831.5b4b68cc4a519.gif);
    
    background-size: 110%;
    back
    
    width: 100%;
    height: 100%;
    margin: auto;

}


header {
    margin: auto;
    background-color: var(--cor-fundo);
    border: 8px 8px var(--cor-font);
    border-radius: 10px;
    margin-top: 15%;
    width: 60%;
    font-size: var(--font-size-title);
    
    
}

#titulo-principal {
    color: var(--cor-font);
    text-align: center;
    text-shadow: black;
    font-family: var(--font-logo);
}

main {

    margin: auto;
    width: 60%;

}

.container {

    font-size: var(--font-size-txt);
    background-color: var(--cor-fundo);
    border-radius: 10px;
    text-align: center;
    color: var(--cor-font);
    border: 1px 5px solid var(--cor-font);
    
    
}

.container-conteudo {
    
    margin: 20px 20px;
    margin-top: 20px;
    margin-bottom: 10px;
   
}

footer {

    color: var(--cor-font);
    background-color: var(--cor-fundo);
    border: 8px 8px var(--cor-font);
    border-radius: 10px;
    text-align: center;
    margin: auto;
    width: 60%;
    font-size: var(--font-size-footer);


}