@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap');

@font-face {
    font-family: 'StarLogo2';
    src: url('../FONT/STJEDISE.TTF') format('truetype');
}

@font-face {
    font-family: 'StarTxt';
    src: url('../FONT/Starjhol.ttf') format('truetype');
}

@font-face {
    font-family: 'StarTxt2';
    src: url('../FONT/Starjedi.ttf') format('truetype');
}

@font-face {
    font-family: 'StarLogo';
    src: url('../FONT/Strjmono.ttf') format('truetype');
}

:root {

    /**colocar as fontes e coisas necessárias**/
    --font-logo: 'StarLogo';
    --font-txt: 'StarTxt';
    --font-txt2: 'StarTxt2';
    --font-txt3: 'StarTxt3';

    /** cores **/

    --cor-fundo: #00000070;
    --cor-font: #ffffff;
    --cor-extra: #f31865;


    --font-size-txt: 140%;
    --font-size-title: 250%;
    --font-size-footer: 90%;
    --font-size-lable: 120%;


}

body {

    font-family: var(--font-size-txt);
    background-image: url(../IMAGES/fundo.gif);
    background-repeat: no-repeat;
    
    line-height: 100%;
    letter-spacing: 5%;
    background-size: auto 116%;
    width: 100%;
    height: 100%;
    margin: auto;

}

/**HEADER**/

header {

    margin: auto;
    margin-top: 3%;
    width: 50%;
    font-size: var(--font-size-title);
    background-color: var(--cor-fundo);
    border: 1px 5px solid var(--cor-font);
    border-radius: 10px;
    max-width: 800px;
    min-width: 300px;
    
    
}

#titulo-principal {
    
    text-align: center;
    font-family: var(--font-logo);
    color: var(--cor-font);
    line-height: 75%;
    padding-top: 15px;
    padding-bottom: 15px;
    
    
}

/**FIM DO HEADER**/

/**MAIN**/

main {

    margin: auto;
    width: 60%;
    font-family: var(--font-txt);
    max-width: 800px;
    min-width: 300px;
    

}

.container {

    font-size: var(--font-size-txt);
    background-color: var(--cor-fundo);
    border-radius: 10px;
    text-align: center;
    color: var(--cor-font);
    padding: 1%;
    border: 1px 5px solid var(--cor-font);
   

}

.container-conteudo {
    
    margin: 20px 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
   
}

select {

    height: 35px;
    width: 23%;
    font-family: var(--font-txt2);
    letter-spacing: 1px;
    
}

option select {

    height: 35px;
    width: 15%;
    font-family: var(--font-txt2);
    letter-spacing: 2px;
}


button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    background-color: black;
    color: #ffffff;
    transition: all 0.1s ease-in-out;
}

.lable-msg {

    font-size: var(--font-size-lable);
    line-height: 100%;
    letter-spacing: 5%;
    position: relative;
    display: grid;
    margin-bottom: 2%;
}

.btn-cod-ou-desc {

    margin-top: 1%;
    margin-bottom: 1%;
    height: 35px;
    width: 26%;
    font-family: var(--font-txt2);
    letter-spacing: 2px;

}


#divEscondida {
    display: none;
}

.msg {

    display: grid; /**DESCEU O CAMPO DO INPUT**/
    margin-bottom: 2%;
    padding: 15px;
    margin-top: 10px;
    width: 50%;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    font-family: var(--font-txt2);
    
}

.passo {
    display: flex; /**DESCEU O CAMPO DO INPUT**/
    margin-bottom: 2%;
    padding: 2px;
    margin-top: 10px;
    width: 25%;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    font-family: var(--font-txt2);
}

/**FIM MAIN**/

/**FOOTER**/
footer {

    color: var(--cor-font);
    background-color: var(--cor-fundo);
    border: 8px 8px var(--cor-font);
    border-radius: 10px;
    text-align: center;
    margin: auto;
    width: 60%;
    font-size: var(--font-size-footer);
    font-family: var(--font-logo);

}

a {
    color: var(--cor-extra);
}
/**FIM DO FOOTER**/

/**RESPONSIVO**/

@media only screen and (max-width: 1800px) {

    body {
        background-size: auto 130%;
    }
}

@media only screen and (max-width: 1440px) { 


    select {

        width: 20%;
        font-size: 12px;

        transition: all 0.5s ease-in-out;
    }


    .btn-cod-ou-desc {

        width: 25%;
        font-size: 12px;

        transition: all 0.5s ease-in-out;
    }

    .passo {
        padding: 2px;
        width: 20%;
        transition: all 0.5s ease-in-out;
    }

    

}

@media only screen and (max-width: 975px) {
    
    #titulo-principal {
        font-size: 150%;
        transition: all 0.5s ease-in-out;
    }

    .container {

        font-size: 100%;
        transition: all 0.5s ease-in-out;
    }

    select {
    
        height: 35px;
        width: 50%;
        display: grid;
        grid-column: auto;
        margin: auto;
        margin-top: 1%;
        text-align: center;
        transition: all 0.5s ease-in-out;
    }

    .btn-cod-ou-desc {

        height: 26px;
        width: 50%;
        display: grid;
        grid-column: auto;
        margin: auto;
        margin-top: 2%;
        margin-top: 1%;
        margin-bottom: 2%;
        text-align: center;
        font-size: 11px;
        transition: all 0.5s ease-in-out;

    }

    .lable-msg {
        margin-top: 2%;
        transition: all 0.5s ease-in-out;
        
    }

    ::placeholder, footer, .msg {
        font-size: 10px;
        transition: all 0.5s ease-in-out;
    }

    .passo {
        padding: 2px;
        width: 20%;
        transition: all 0.5s ease-in-out;
    }

}

@media only screen and (max-width: 501px) {

    body {
        background-size: auto 180;
    }

    #titulo-principal {
        font-size: 170%;
        transition: all 0.5s ease-in-out;
    }

    .container {

        font-size: 100%;
        transition: all 0.5s ease-in-out;
    }

    select {
    
        height: 35px;
        width: 50%;
        display: grid;
        grid-column: auto;
        margin: auto;
        margin-top: 1%;
        text-align: center;
        transition: all 0.5s ease-in-out;
    }

    .btn-cod-ou-desc {

        height: 26px;
        width: 50%;
        display: grid;
        grid-column: auto;
        margin: auto;
        margin-top: 2%;
        margin-top: 1%;
        margin-bottom: 2%;
        text-align: center;
        font-size: 11px;
        transition: all 0.5s ease-in-out;

    }

    .lable-msg {
        margin-top: 2%;
        transition: all 0.5s ease-in-out;
        
    }

    ::placeholder, footer, .msg {
        font-size: 10px;
        transition: all 0.5s ease-in-out;
    } 

    .passo {
        padding: 2px;
        width: 20%;
        transition: all 0.5s ease-in-out;
    }

}


